.products {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  h1 {
    font-size: 3.2rem;
    color: #333;
    margin-bottom: 2rem;
  }

  .form-select {
    margin-bottom: 2rem;
  }

  .wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
    gap: 2rem;
    margin-block: 2rem;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .thumb {
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .details {
    padding: 2rem;
    width: 100%;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 1rem;
        text-align: center;

        .name {
          font-size: 2rem;
          color: #333;
          font-weight: bold;
          text-decoration: none;

          a {
            text-decoration: none;
            color: inherit;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .price {
          font-size: 18px;
          color: #666;
        }
      }
    }
  }
}
