html {
  font-size: 10px;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.App,
.fullHeight {
  height: 100%;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a,
a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.fullHeight {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.adminLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1; /* mainContent가 남은 공간을 차지하도록함*/
  width: 100%;
  height: calc(100% - 7.6rem - 5.8rem);
  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;
}

.controlPanel {
  display: flex; /* 가용 공간을 채우도록 설정 */
  flex-grow: 1;
  min-height: calc(100vh - 7.6rem - 5.8rem);

  .sidebar {
    flex: 0 0 25rem; /* 고정 넓이 */
    min-height: 100%;
    border-right: 1px solid #d3d3d3;
  }

  .content {
    flex-grow: 1; /* 남은 공간을 모두 채우도록 설정 */
    padding: 2rem;
    background-color: #f4f4f4;
    min-height: 100%;
  }
}

@media only screen and (max-width: 980px) {
  html {
    font-size: 9px;
  }

  .controlPanel {
    flex-direction: column;
    padding: 0 10px;

    .sidebar {
      border: none;
    }
  }
}
